//----------------------------------------------------------------------------//
// -> Sets classes
//----------------------------------------------------------------------------//
ctrSetClass('Table', {
  $$: {
    width: 200px
  }
  width: '_$width$_'
  margin: 10px
  overflow: hidden
  border: 1px solid #000
})

ctrSetClass('Row', {
  margin: 10px
  overflow: hidden
  border: 1px solid '$primary-red$'
})

ctrSetClass('Cell', {
  margin: 10px
  overflow: hidden
  padding: 10px
  border: 1px solid '$primary-blue$'
})
