//----------------------------------------------------------------------------//
// -> Thumbs up, brah
//----------------------------------------------------------------------------//
ctr('body', {
  components: {
    common: {
      height: 25vw
    }
    '.thumbs-up-left': {
      position: absolute
      left: -10px
    }
    '.thumbs-up-right': {
      position: absolute
      right: -10px
      transform: scaleX(-1)
    }
  }
})
