//----------------------------------------------------------------------------//
// -> Base styles
//----------------------------------------------------------------------------//
ctr('body', {
  background: '$primary-bg$'
  position: absolute 0
  overflow: hidden
  grid: {
    align: 'center'
  }
})
