---
layout: default.hbs
title: Test title for index page
---

<div class="container">
  <div class="who_wrap">
    <h1>Who uses Grunt?</h1>
  </div>
  <div class="img_wrap">
    <img src="./images/grunt-screenshoot.png" alt="">
  </div>
  <div class="sure_wrap">
    <h3>What constitutes as "<span>use</span>" is my question?</h3>
  </div>
  <div class="ctr-logo"></div>
</div>
