//----------------------------------------------------------------------------//
// -> Base body styles
//----------------------------------------------------------------------------//
ctr('body', {
  background: #bdc3c7
  position: absolute 0 0 0 0
  overflow: hidden
})

