// need to import our ctr classes
@import './../Classes.ctr.styl'

//----------------------------------------------------------------------------//
// -> These styles are using classes defined in Style-Classes.ctr.styl
//----------------------------------------------------------------------------//
ctr('.table', {
  extend: 'Table'
})

ctr('.row', {
  extend: 'Row'
})

ctr('.cell', {
  extend: 'Cell'
})
